apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{  include "fluentbit.fullname" . }}
  labels:
    app.kubernetes.io/component: fluentbit
    {{- include "fluentbit.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "fluentbit.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/component: fluentbit
        {{- include "fluentbit.labels" . | nindent 8 }}
      annotations:
        sidecar.istio.io/inject: "false"
    spec:
      # TODO: Enable below for k8s version >= 1.19.0
      # securityContext:
      #   seccompProfile:
      #     type: RuntimeDefault
      priorityClassName: system-node-critical
      serviceAccountName: {{ include "fluentbit.serviceAccountName" . }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      containers:
        - name: fluentbit
          image: fluent/fluent-bit:1.5
          imagePullPolicy: Always
          ports:
            - containerPort: {{ .Values.containerPort }}
          env:
            - name: LOG_SUFFIX
              value: {{ .Values.logSuffix }}
            - name: LOG_ID
              valueFrom:
                secretKeyRef:
                  name: {{ include "fluentbit.fullname" . }}-secrets
                  key: WorkspaceId
            - name: LOG_SHARED_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "fluentbit.fullname" . }}-secrets
                  key: SharedKey
          volumeMounts:
            - name: varlog
              mountPath: /var/log
            - name: varlibdockercontainers
              mountPath: /var/lib/docker/containers
              readOnly: true
            - name: fluent-bit-config
              mountPath: /fluent-bit/etc/
      volumes:
        - name: varlog
          hostPath:
            path: /var/log
        - name: varlibdockercontainers
          hostPath:
            path: /var/lib/docker/containers
        - name: fluent-bit-config
          configMap:
            name: {{ include "fluentbit.fullname" . }}
